.settle-top
{
    margin-top: 6rem;
}
body
{
    overflow-x: hidden;
}
.search-container
{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* justify-content: space-between; */
}
.search-btn
{
    margin-left: 1rem;
    background: none;
    border: 1px solid gray;
}
.search-input-container input
{
    border: none;
    outline: none;
    width: 100%;
    border: 1px solid black;
    width: 20rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    /* box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.549); */
}
.search-btn
{
    width: 3rem;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    cursor: pointer;
}
.filter-btn
{
    width: 5rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
}
.custom-margin
{
    margin-top: 1rem !important;
}
.search-icon
{
    padding-top: 0.5rem;
}
.my-table
{
    width: 95% !important;
    margin: 2rem auto;
}
.head
{
    position: sticky;
    top: 4.4rem;
    z-index: 9999;
}
.custom-overflow
{
    background-color: rgb(0, 255, 85);
    /* color: white; */
    height: 15rem;
    overflow-y: scroll;
}
.all-filter-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 2rem auto 0 auto;
    background-color: #D8D9CF;
    padding: 1.3rem 2rem;
    border-radius: 1.3rem;
}
.apply-filter
{
    width: 5rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
    padding: 0.5rem 0.8rem;
}
@media screen and (max-width : 505px) {
    .my-table
    {
        width: 10% !important;
    }
}